.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100px;

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 18px;
          font-weight: 500;
          font-weight: bold;
        }
        p {
          color: #a5a5a5;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
    .icons {
      display: flex;
      gap: 20px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
  .center {
  }
  .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 20px;

    .icons {
      display: flex;
      gap: 20px;
    }
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .input {
      border: none;
      border-radius: 10px;
      background-color: rgba(17, 25, 40, 0.5);
      color: white;
      outline: none;
      flex: 1;
      padding: 15px;
      font-size: 16px;
    }

    .sendButton {
      background-color: #5183fe;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
